<h2>
  News Details
</h2>
<div *ngIf="!(newsDetails$ | async)">No news details available yet!</div>
<div class="form-group alert alert-success" *ngIf="(deleted)">
  News Deleted Successfully!.
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation Required</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the news?.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" (click)="deleteNews();">Yes</button>
        <button (click)="showDialog = !showDialog" data-dismiss="modal" class="btn btn-warning">No</button>
      </div>
    </div>

  </div>
</div>


<div *ngIf="(!showedit)">

  <div *ngFor="let news of (newsDetails$ | async)">

    <div class="icon-row">
      <span>
        <i class="material-icons icons" (click)="editNews();">edit</i>
      </span>
      <span>
        <i class="material-icons icons" data-toggle="modal" data-target="#myModal">delete</i>
      </span>
    </div>
    <ul>
      <li>
        <strong>New Id :</strong> {{news.id}}
      </li>

      <li>
        <strong>Title :</strong> {{news.title}}
      </li>
      <li>
        <strong> Type :</strong> {{news.type}}
      </li>
      <li>
        <strong> Url :</strong> {{news.url}}
      </li>
      <li>
        <strong>Created By :</strong> {{news.by}}
      </li>
    </ul>
  </div>
  <div class="form-group alert alert-success" *ngIf="(updated)">
    News Updated Successfully!.
  </div>
</div>
<div *ngIf="(showedit)">
  <div *ngFor="let news of (newsDetails$ | async)">
    <form #updateForm="ngForm" (ngSubmit)="updateNews(updateForm.form);">

      <div class="form-group">
        <label for="newsId">Id:</label>
        <input type="text" class="form-control" id="newsId" name="newsId" required disabled ngModel="{{news.id}}" #newsIdField="ngModel">
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" required ngModel="{{news.title}}" minlength="3" #titleField="ngModel">
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" name="type" required ngModel="{{news.type}}" minlength="3" #typeField="ngModel">
      </div>
      <div class="form-group">
        <label for="url">Url</label>
        <input type="text" class="form-control" id="url" name="url" required ngModel="{{news.url}}" minlength="3" #urlField="ngModel">
      </div>
      <div class="form-group">
        <label for="created">Created By</label>
        <input type="text" class="form-control" id="by" name="by" required ngModel="{{news.by}}" minlength="3" #byField="ngModel">
      </div>
      <button type="submit" [disabled]="!updateForm.valid" class="btn btn-success">Update</button>
    </form>
  </div>
</div>