<h2>
  News Details
</h2>
<div *ngIf="!(newsDetails$ | async)">No news details available yet!</div>

<div *ngFor="let news of (newsDetails$ | async)">

  <div class="icon-row">
    <span>
      <i class="material-icons icons" (click)="editNews();">edit</i>
    </span>
    <span>
      <i class="material-icons icons" (click)="deleteNews();">delete</i>
    </span>
  </div>
  <ul>
    <li>
      <strong>New Id :</strong> {{news.id}}
    </li>
    <li>
      <strong>Created By :</strong> {{news.by}}
    </li>
    <li>
      <strong>Title :</strong> {{news.title}}
    </li>
    <li>
      <strong> Type :</strong> {{news.type}}
    </li>
    <li>
      <strong> Url :</strong> {{news.url}}
    </li>
  </ul>
</div>